# Compiled files
*.exe
*.out
*.o
*.obj
*.dll
*.so
*.dylib

# Build directories
/build/
/bin/
/Debug/
/Release/

# IDE-specific files
.vscode/
*.sln
*.vcxproj*

# Ignore large files
*.mp4
*.iso
*.zip
*.exe
*.dll
/build/
